<h1>Confirmation de votre email</h1>

<p>
    Afin de finaliser votre inscription veuillez cliquer sur le lien suivant pour valider votre email: <br><br>
    <a href="{{ signedUrl.getSignedUrl }}">Confirmer mon emaill</a>.
    Ce lien expire dans {{ signedUrl.expirationMessageKey|trans(signedUrl.expirationMessageData) }}.
</p>
