{% extends 'base.html.twig' %}

{% block title %}Création de compte validé{% endblock %}

{% block body %}
    <div class="w3-container">
        <p>Vous avez bien été enregistré, vous aller recevoir un email pour confirmer votre compte. Merci</p>
    </div>
{% endblock %}
