{% extends 'base.html.twig' %}

{% block title %}Random Santa - list{% endblock %}

{% block body %}
    {% if is_granted('ROLE_ADMIN') %}
        <section class="w3-padding-16 w3-container">
            <a class="w3-btn w3-right w3-theme-dark" href="{{ path('app_santa_create') }}">Ajouter un Random Santa</a>
        </section>
    {% endif %}
    {% include 'santa/list.html.twig' with {
        'title': 'En cours',
        'noneMessage': 'en cours',
        'santas': openSantas
    } %}
    {% include 'santa/list.html.twig' with {
        'title': 'Bientôt',
        'noneMessage': 'prévu',
        'santas': futurSantas
    } %}
    {% include 'santa/list.html.twig' with {
        'title': 'Fini',
        'noneMessage': 'passé',
        'santas': closeSantas
    } %}
    {% if is_granted('ROLE_ADMIN') %}
        {% include 'santa/list.html.twig' with {
            'title': 'Archivé',
            'noneMessage': 'archivé',
            'santas': archivedSantas
        } %}
    {% endif %}
{% endblock %}
